Day 10/code3.py
Day 10/student_out.txt
Day 10/temp.py
Day 10/student_scores.txt
Day 5/temp.txt
Day 5/students.py
Day 5/students_preferences.txt
Day 5/students_ordered.txt
Day 5/stud_pref.txt
Day 5/input_students.txt
Day 5/info.txt
Day 5/exam.py
